
body{
    background: url("../images/halo-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    position: relative;
}

#main-box{
    width: 75%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0;
}

#title-text{
    font-family: 'Stalinist One', cursive;
    color: black;
    letter-spacing: 6px;
    text-shadow: 2px 2px 5px white;
    font-size: 90px;
    margin: auto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

#game-box{
    background: rgb(51, 51, 51, 0.7);
    margin: auto;
    height: 78%;
    text-align: center;
}

.game-box-text{
    font-size: 225%;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px white;
}

.game-answer-text{
    font-size: 175%;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px white;
}

.answer-image{
    min-width: 400px;
    max-width: 600px;
    max-height: 400px;
}

/* 
    beginning of button style
    =========================
*/
.button{
    background-color: Transparent;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 6px;
    border: none;
    width: 50%;
    height: 15%;
    margin: auto;
    font-size: 300%;
    color: black;
    text-shadow: 2px 2px 5px rebeccapurple;
}

.button:hover{
    background: white;
    color: black;
}

.button:active{
    transform: translateY(4px);
    filter: saturate(150%);
}
/* 
    ==========================
    end of button style
*/
@media screen and (max-height: 980px) {
    #title-text{
        font-size: 50px;
    }
    .button{
        height: 12%;
        margin-top: 3px;
        width: 60%;
        font-size: 150%;
    }
    .game-box-text{
        font-size: 120%;
        letter-spacing: 3px;
    }
    .game-answer-text{
        font-size: 95%;
        letter-spacing: 3px;
    }
    #game-box{
        height: 80%;
    }
    .answer-image{
        min-width: 200px;
        max-width: 300px;
        max-height: 200px;
    }
}

@media screen and (max-width: 980px) {
    #title-text{
        font-size: 50px;
    }
    .button{
        height: 12%;
        margin-top: 3px;
        width: 65%;
        font-size: 150%;
    }
    .game-box-text{
        font-size: 100%;
        letter-spacing: 3px;
    }
    .game-answer-text{
        font-size: 95%;
        letter-spacing: 3px;
    }
    #game-box{
        height: 80%;
    }
    .answer-image{
        min-width: 200px;
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 768px) {
    #title-text{
        font-size: 70px;
    }
    .button{
        height: 10%;
        width: 65%;
        font-size: 150%;
        margin-top: 3px;
    }
    .game-box-text{
        font-size: 100%;
        letter-spacing: 3px;
    }
    .game-answer-text{
        font-size: 75%;
        letter-spacing: 3px;
    }
    #game-box{
        height: 70%;
    }
    .answer-image{
        min-width: 200px;
        max-width: 300px;
        max-height: 200px;
    }
    #title-text{
        font-size: 45px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 640px) {
    #title-text{
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-top: 3px;
    }
    .button{
        height: 8%;
        margin-top: 10px;
        width: 100%;
        font-size: 150%;
    }
    .game-box-text{
        font-size: 100%;
        letter-spacing: 3px;
    }
    .game-answer-text{
        font-size: 75%;
        letter-spacing: 3px;
    }
    #main-box{
        margin-top: -15px;
    }
    #game-box{
        padding: 2px;
        margin-top: 0;
        height: 80%;
    }
    .answer-image{
        min-width: 200px;
        max-width: 300px;
        max-height: 200px;
    }
}


@media screen and (max-height: 500px) {
    #title-text{
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-top: 3px;
    }
    .button{
        height: 12%;
        margin-top: 10px;
        width: 100%;
        font-size: 80%;
    }
    .game-box-text{
        font-size: 75%;
        letter-spacing: 3px;
    }
    .game-answer-text{
        font-size: 65%;
        letter-spacing: 3px;
    }
    #main-box{
        margin-top: -30px;
    }
    #game-box{
        padding: 2px;
        margin-top: 0;
        height: 80%;
    }
    .answer-image{
        min-width: 100px;
        max-width: 200px;
        max-height: 100px;
    }
}
